<main id="dataBasicsPage" class="content">
  <p>Input anything into the Name and Email fields to insert a record into the database.</p>
  <form id="dbForm">
    <!-- nameLabel gets its text from xhr/nameLabel.html -->
    <label for="name" id="nameLabel"></label>
    <input type="text" name="name" id="name">
    <label for="email">Email: </label>
    <input type="text" name="email" id="email">
    <input type="submit" value="send">
  </form>
  <p id="insertRowResult"></p>
  <button id="showDb">Show database</button>
  <table id="getAllDocsResult"></table>
</main>
